*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: Microsoft YaHei;
}

/*头部导航栏*/
header{
    width: 100%;
    min-width: 1280px;
    height: 58px;
    position: relative;
}

header .logo{
    margin-left: 40px;
    height: 58px;
    line-height: 58px;
}

header .logo img{
    margin-top: 13px;
}

header .logo .logo_name{
    font-size: 22px;
    position: relative;
    top: -5px;
    left: 5px;
}

header .top_menu{
    float: right;
    margin-right:40px;
    list-style-type: none;
}

header .top_menu li{
    width:90px ;
    text-align: center;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    color: rgb(142,143,143);
}

header .top_menu .index{
    color: rgb(231,79,77);
    border-bottom: 4px solid rgb(231,79,77) ;
}

header .top_menu .login img{
    position: relative;
    top: 2px;
}

header .top_menu .login{
    color: rgb(231,79,77);
}

/*主体第一个页面*/
#main_content{
    margin-top: 4px;
    position: relative;
}

.page1{
    width: 100%;
    height:684px;
    background: url(../images/task_1_7_1-_0000s_0008s_0005_图一.png)no-repeat left top;
    background-size:cover;
}
.page2{
    width: 100%;
    height:684px;
    background: url(../images/task_1_7_1-_0000s_0008s_0004_图一遮罩.png)no-repeat left top;
    background-size:cover;
    color: white;
}
.page2 h1{
    position: absolute;
    top: 229px;
    left: 117px;
    font-size: 60px;
    font-weight: 400;
}
.page2 .words{
    position: absolute;
    top: 309px;
    left:125px;
    font-size: 21px;
    height: 53px;
    font-weight: 100;
}
.page2 .words p{
    line-height: 35px;
}
.btn{
    position: absolute;
    top: 429px;
    left:126px;
    width: 330px;
    height: 65px;
    line-height: 65px;
    background-color: rgb(231,79,77);
    text-align: center;
    color: white;
    font-size: 30px;
}

/*第一个页面下的图片菜单栏*/
.middle_menu{
    width: 100%;
    min-width: 1280px;
    height: 250px;
}
.ul_list{
    margin: 0 auto;
    width: 1280px;
}
.ul_list ul{
    list-style-type: none;
}
.ul_list ul li{
    display: inline-block;
    width: 315px;
    height: 250px;
}
.ul_list ul li div{
    text-align: center;
}
.ul_list .icon{
    position: relative;
    top: 46px;
    left: 146px;
    width: 35px;
    height: 40px;
}
.ul_list .describe{
    position: relative;
    top: 87px;
    padding: 0px 45px;
    height: 51px;
    font-family: "黑体";
    color: rgb(118,119,119);
    border-right: 2px solid rgb(171,166,165);
}
.ul_list ul li .last_icon{
    border-right: none;
}

/*主体第二个页面*/
.about{
    width: 100%;
    min-width: 1280px;
    height: 361px;
    background-color: rgb(237, 237, 237);
    text-align: center;
}
.about img{
    margin-top:83px;
}
.about .words{
    margin: 0 auto;
    width: 953.45px;
    font: 59.59px "黑体";
    color: rgb(134,126,122);
    margin-top: 40px;
}

/*主体第三个页面——地区搜索*/
.city_picker{
    width: 100%;
    min-width: 1280px;
    height: 336px;
    background-image: url(../images/task_1_7_1-_0000s_0004s_0023_看地图.png);
    background-size: cover;
}

.city_container{
    width: 100%;
    height: 336px;
    background-image: url(../images/task_1_7_1-_0000s_0004s_0022_图二遮罩.png);
    background-size: cover;
    padding-top: 40px;
}

.city_container .city_top{
    width: 250px;
    height: 32px;
    color: white;
    font-size: 22px;
    margin: 0 auto;
}
.city_container .white_line{
    width:32px;
    height: 25px;
    margin: 0 auto;
    border-top: 2px solid white;
    margin-top: 10px;
}
.city_container .city_middle{
    margin-top: 30px;
    margin: 0 auto;
    width: 341px;
    font-size: 13px;
    color: white;
}
.city_container .city_select{
    width: 1250px;
    height: 50px;
    margin: 0 auto;
    margin-top: 36px;
}

.city_container .city_select .section{
    float: left;
    width: 272.5px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 25px;
    cursor: pointer;
}

.city_container .city_select .last_section{
    float: left;
    width: 272.5px;
    height: 36px;
    background-color: #bf4f49;
    border: 1px solid  #bf4f49;
    cursor: pointer;
    text-align: center;
}
.city_container .city_select .section span{
    font-size: 14px;
    color: #9E9E9E;
    line-height: 36px;
    float: left;
    margin-left: 15px;
}
.city_container .city_select .last_section span{
    font-size: 14px;
    color: white;
    line-height: 36px;
}
.city_container .city_select .section .b_icon{
    width: 19px;
    height: 18px;
    background: url("../images/task_1_7_1-_0000s_0004s_0020__编组_.png")no-repeat;
    float: right;
    margin: 8px;
    padding: 6px 3px;
}

.city_container .city_select .section .icon{
    width: 19px;
    height: 18px;
    background: url("../images/task_1_7_1-_0000s_0004s_0014__编组_.png")no-repeat;
}

.city_container .city_select .act{
    border: 1px solid #be4f48;
}

.city_container .city_select .section .place{
    width: 272.5px;
    margin-top: 36px;
}
.city_container .city_select .section .place ul{
    list-style-type: none;
}
.city_container .city_select .section .place ul li{
    height: 30px;
    line-height: 30px;
    padding-left:20px ;
    color: #616161;;
    font-size: 14px;
    background-color: #e3e3e4;
}
.city_container .city_select .section .place ul li:hover{
    background-color: #be4e48;
    color: white;
}
.city_container .city_select .section .place .active{
    background-color: #be4e48;
    color: white;
}

/*主体第四个页面——活动栏*/
.activity{
    width: 100%;
    height: 603px;
    background-color: #f8f8f7;
    padding-top: 90px;
}
.activity .container{
    position: relative;
    height: 390px;
    width: 985px;
    margin: 0 auto;
}
.activity .container .bg{
    width: 219px;
    height: 390px;
    margin-right: 36px;
    float: left;
    text-align: center;
}
.activity .container .clear_margin{
    margin-right: 0;
}

.activity .container .word1{
    font-size: 18px;
    color:rgb(99,100,100);
}
.activity .container .word2{
    margin-top: 5px;
    font-size: 8px;
    color:rgb(189,189,189);
    margin-bottom: 5px;
}
/*主体第五个页面——新世界图片展示*/
.new_world{
    width: 100%;
    min-width: 1280px;
    height: 563px;
}
.new_world .left_side{
    float: left;
    width: 66.8%;
    height: 563px;
    background: url("../images/task_1_7_1-_0000s_0003s_0012_图七.png");
    background-size: cover;
    text-align: center;
    color: white;
}

.new_world .left_side .top{
    margin-top: 127px;
    font-size: 40px;
}
.new_world .left_side .middle{
    font-size: 130px;
    margin-top: -20px;
}
.new_world .left_side .bottom{
    font-size: 20px;
}
.new_world .right_side{
    width: 23.2%;
    float: left;
    text-align: center;
    padding: 0 5%;
}
.new_world .right_side .top_word{
    margin-top: 158px;
    font-size: 20px;
    font-weight: 400;
}
.new_world .right_side .top_word .word2{
    color: #e25c60;
}

.new_world .right_side .middle_word{
    line-height: 25px;
    margin-top: 22px;
    font-size: 12px;
    color: #aaaaaa;
}
.new_world .right_side .bottom_word{
    width: 105px;
    height: 31px;
    line-height: 31px;
    border: 2px solid #e25c60;
    margin:  40px auto;
    color:#e25c60;
}

/*主体第六个页面——新时代图片展示*/
.new_time{
    width: 100%;
    height: 520px;
    min-width: 1280px;
    text-align: center;
    font-size: 20px;
}
.new_time .left_side{
    float: left;
    background-color: rgb(231, 79, 77);
    width: 33.3333%;
    height: 520px;
    color: white;
    font-weight: 200;
}
.new_time .left_side .top{
    margin-top: 170px;
}
.new_time .middle_side .top{
    margin-top: 170px;
    font-weight: 300;
}
.new_time .left_side .middle{
    margin: 0 auto;
    margin-bottom: 46px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid white;
}
.new_time .middle_side .middle{
    margin: 0 auto;
    margin-bottom: 46px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid rgb(170,170,170);
}
.new_time .left_side .bottom{
    height: 41px;
    line-height: 41px;
    width: 166px;
    margin: 0 auto;
    border: 1px solid white;
    font-weight: 400;
}
.new_time .middle_side .bottom{
    height: 41px;
    line-height: 41px;
    width: 166px;
    margin: 0 auto;
    border: 1px solid #e74f4d;
    color:#e25c60;
    font-weight: 400;
}
.new_time .left_side .top .word1{
    margin-bottom: 5px;
}
.new_time .middle_side{
    float: left;
    background-color: white;
    width: 33.33%;
    height: 520px;
}
.new_time .right_side{
    float: left;
    background:url("../images/task_1_7_1-_0000s_0002s_0010__图像_.png");
    background-size: cover;
    width: 33.3333%;
    height: 520px;
}

/*主体第七个页面——志愿者报名栏*/
.volunteer{
    width: 100%;
    height: 747px;
    min-width: 1280px;
}
.volunteer .head{
    height: 250px;
    margin-top: 110px;
    text-align: center;
}
.volunteer .head .word1{
    font-size: 22px;
    font-weight: 400;
}
.volunteer .head .red_line{
    width: 28px;
    height: 10px;
    border-bottom: 2px solid rgb(231,79,77);
    margin: 0 auto;
}
.volunteer .head .word2{
    width: 421px;
    margin: 0 auto;
    margin-top: 10px;
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.volunteer .content{
    margin: 0 auto;
    width: 1040px;
    padding: 0 120px;
    height: 300px;
}
.volunteer .content .left_side{
    float: left;
    width: 295px;
    height: 300px;
    /*padding-left: 20px;*/
}
.volunteer .content .left_side .top {
    margin-bottom: 50px;
}
.volunteer .content .left_side .middle{
    margin-bottom: 50px;
}
.volunteer .content .left_side  .title{
    font-size: 15px;
    margin-bottom: 25px;
}
.volunteer .content .left_side  .words{
    font-size: 12px;
    color: rgb(161,161,161);
}
.volunteer .content .left_side .right{
    float: right;
}
.volunteer .content .right_side{
    margin-left: 75px;
    float: left;
    width: 650px;
    height: 300px;
}
.volunteer .content .right_side .add_margin{
    margin-right: 20px;
}
.volunteer .content .right_side  input{
    height: 40px;
    width: 312px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 238);
    border: none;
}
.volunteer .content .right_side textarea{
    width: 650px;
    height: 118px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 238);
    border: none;
}
.volunteer .content .right_side .submit{
    width: 650px;
    height: 40px;
    color: #323333;
    font-size: 14px;
    font-weight: bold;
}
*::-webkit-input-placeholder {
    padding-left: 20px;
    color: rgb(161,161,161);
}
textarea::-webkit-input-placeholder{
    padding-top: 10px;
    color: rgb(161,161,161);
}

*:-moz-placeholder {
    padding-left: 20px;
    color: rgb(161,161,161);
}

*:-ms-input-placeholder {
    /* IE10+ */
    padding-left: 20px;
    color: rgb(161,161,161);
}

/*底部栏*/
.footer{
    height: 407px;
    background-color: rgb(51, 54, 63);
    text-align: center;
    padding-top: 84px;
}
.footer .contact{
    color: white;
    height: 75px;
    width: 468px;
    margin: 0 auto;
}
.footer .contact .word1{
    font-size: 22px;
    margin-bottom: 10px;
}

.footer .contact .word2{
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer .email{
    width: 508px;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
}


.footer .email .left{
    width: 426px;
    height: 40px;
    float: left;
    background-color: white;
}
.footer .email .right{
    width: 82px;
    height: 40px;
    float: left;
    background-color: #6f7278;
    line-height: 40px;
    color: white;
}
.footer .logos{
    background: url("../images/task_1_7_1-(1)_logos_03.png")no-repeat;
    width: 222px;
    height: 25px;
    margin: 0 auto;
    margin-top: 36px;
}
.footer .end{
    height: 52px;
    background-color: #2f3039;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 12px;
}
.footer .end .left{
    float: left;
    margin:20px 0 0 93px ;
}
.footer .end .right{
    float: right;
    margin:20px 33px 0 0;
}